<app-header />
<main>
  <ul id="users">
    <li>
      <!-- <app-user
        [id]="users[0].id"
        [avatar]="users[0].avatar"
        [name]="users[0].name"
        (select)="onSelectUser($event)"
      /> -->
      <app-user
        [user] = "users[0]"
        (select)="onSelectUser($event)"
        />
    </li>
    <li>
      <app-user
      [user] = "users[1]"
      (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
      [user] = "users[2]"
      (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
      [user] = "users[3]"
      (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
      [user] = "users[4]"
      (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
      [user] = "users[5]"
      (select)="onSelectUser($event)"
      />
    </li>
    <!-- <li>
            <app-user [avatar]="users[6].avatar" [name]="users[6].name"/>
        </li>
        <li>
            <app-user [avatar]="users[7].avatar" [name]="users[7].name"/>
        </li>  -->
  </ul>

  <app-tasks
  [name]=" selectedUser ? selectedUser.name : ''"
  ></app-tasks>
</main>
