<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <!-- starija alternativa(strukturna direktiva),moramo takodje u ts da importujemo NgFor, isto vazi i za @if(stavljamo ngIf) -->
       <!-- <li *ngFor="let user of users"></li> -->
      <li>
        <app-user [user]="user" [selected]="user.id===selectedUserId" (select)="onSelectUser($event)">
        </app-user>
      </li>
    }
    <!-- <li>
      <app-user
        [id]="users[0].id"
        [avatar]="users[0].avatar"
        [name]="users[0].name"
        (select)="onSelectUser($event)"
      /> 
      <app-user
        [user] = "users[0]"
        (select)="onSelectUser($event)"
        />
    </li>
    <li>
      <app-user
      [user] = "users[1]"
      (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
      [user] = "users[2]"
      (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
      [user] = "users[3]"
      (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
      [user] = "users[4]"
      (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user
      [user] = "users[5]"
      (select)="onSelectUser($event)"
      />
    </li> -->
  </ul>
@if (selectedUser) {
  <app-tasks [id]="selectedUser.id" [name]="selectedUser.name" />
}@else {
  <p id="fallback" > Select a user to see their tasks</p>
}
  <!-- starija alternativa -->
   <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name"/>
   <ng-template #fallback>
    <p id="fallback" > Select a user to see their tasks</p>
  </ng-template> -->
</main>
